config.py
recordsRefreshed.db
config/web_sessions.db*
config/posters/
refreshMetadata.log
__pycache__/
.vscode
*.json*
!corpus/bangumi_tag_whitelist.json
*.jsonlines*
.coverage
test_results/
archivedata/
bin/
*.generated.py
